.text-mobile {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 540;
    font-size: 1rem;
}

.login-signup {
    /* display: none; */
}

.cart-and-profile {
    /* display: none !important; */
}

.carousel-img {
    height: 30rem;

}



.iphone {
    height: 16rem;
    width: 12rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
}
.oneplus{
    height: 20rem;
    width: 18rem;
    object-fit: cover;
    padding-bottom: 1rem;
    padding-right: 4rem;
    margin-top: -1rem;
}

.sumsung{
    height: 17rem;
    width: 12rem;
    object-fit: cover;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

